/* MOBILE */
html, body {
  background-color: white;
  font-family: 'Nunito';
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

[class*="col-"] {
  width: 100%;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

h1 a {
  text-decoration: inherit;
}

h1 a:hover {
  background-color: inherit;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

a {
  color: inherit;
  font-weight: 1000;
  text-decoration: underline;  
  text-underline-offset: 3px;
  text-decoration-color: #FBB4CA;
  text-decoration-thickness: 2px;
}

a:hover {
  background-color: #E2E5FF;
}

ul {
  margin: 0px;
  padding-left: 7px;
  list-style-position: outside;
}

li {
  list-style-type: '»';
  padding-inline-start: 10px;
}

.image {
  width: 100%;
  padding: 30px 0 30px 0;
}

.image-70 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 30px 0 30px 0;
}

.block {
  border-left: 7px solid;
  border-color: #E2E5FF;
  padding: 0px 20px;
}

.accent {
  color: #FBB4CA;
}

.highlight {
  background-color: #E2E5FF;
  border-radius: 1ch;
  padding-inline: .5ch;
}

.center {
  text-align: center;
}

.footer {
  padding-top: 30px;
  color: #C0C0C0;
  font-style: italic;
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
  html, body {
    padding-top: 15px;
    padding-left: 30px;
  }

  [class*="col-"] {
    float: center;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 35px;
  }

  .col-s {
    width: 25%;
  }
  .col-m {
    width: 700px;
  }

  .col-l {
    width: 100%;
  }
}