/* MOBILE */
html, body {
  background-color: white;
  font-family: 'Nunito';
  font-size: 15px;
  padding-top: 10px;
  padding-left: 5px;
}

[class*="col-"] {
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 1000;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

a {
  color: inherit;
  font-style: inherit;
  text-decoration: underline;  
  text-underline-offset: 3px;
  text-decoration-color: #FBB4CA;
  text-decoration-thickness: 2px;
  font-weight: 1000;
}

a:hover {
  font-weight: bolder;
  text-decoration: inherit;
  background-color: #E2E5FF;
}

ul {
  padding-left: 7px;
  list-style-position: outside;
}

li {
  list-style-type: '»';
  padding-inline-start: 10px;
}

.block{
  border-left: 7px solid;
  border-color: #E2E5FF;
  padding: 0px 20px;
}

.accent {
  color: #FBB4CA;
}

.highlight {
  background-color: #E2E5FF;
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
  html, body {
    padding-top: 15px;
    padding-left: 30px;
  }

  [class*="col-"] {
    float: left;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 35px;
  }

  .col-s {
    width: 25%;
  }
  .col-m {
    width: 700px;
  }

  .col-l {
    width: 100%;
  }
}